@model Weixin.DTO.BaseConfigDTO

@{
    ViewBag.Title = "修改公众号配置";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<h2>修改公众号配置</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form class="form-horizontal" method="post">
        <hr />
        @Html.HiddenFor(model=>model.Id)
        <div class="form-group col-md-7">
            <div class="input-control has-icon-left">
                <input name="WeixinName" type="text" class="form-control" value="@Model.WeixinName" placeholder="公众号名称">
                <label class="input-control-icon-left"><i class="icon icon-wechat "></i></label>
            </div>
        </div>

        <div class="form-group col-md-7">
            <div class="input-control has-icon-left">
                <input name="Token" type="text" class="form-control" value="@Model.Token" placeholder="Token">
                <label class="input-control-icon-left"><i class="icon icon-unlock-alt"></i></label>
            </div>
        </div>

        <div class="form-group col-md-7">
            <div class="input-control has-icon-left">
                <input name="EncodingAESKey" type="text" class="form-control" value="@Model.EncodingAESKey" placeholder="EncodingAESKey">
                <label class="input-control-icon-left"><i class="icon icon-key"></i></label>
            </div>
        </div>

        <div class="form-group col-md-7">
            <div class="input-control has-icon-left">
                <input name="Appsecret" type="text" class="form-control" value="@Model.Appsecret" placeholder="Appsecret">
                <label class="input-control-icon-left"><i class="icon icon-key"></i></label>
            </div>
        </div>

        <div class="form-group col-md-7">
            <div class="input-control has-icon-left">
                <input name="DefaultResponse" type="text" class="form-control" value="@Model.DefaultResponse" placeholder="默认消息">
                <label class="input-control-icon-left"><i class="icon icon-comments"></i></label>
            </div>
        </div>

        <div class="form-group col-md-7">
            <div class="col-md-offset-10 col-md-4">
                <input type="submit" value="保存" class="btn btn-success" />
            </div>
        </div>
    </form>

}